.log1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.log1-log1 {
  width: 100%;
  height: 888px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.log1-screen {
  top: 20px;
  left: 26px;
  width: 390px;
  height: 844px;
  position: absolute;
  border-radius: 54px;
}
.log1-vector {
  top: 43px;
  left: 367px;
  width: 30px;
  height: 18px;
  position: absolute;
}
.log1-vector1 {
  top: 42px;
  left: 333px;
  width: 23px;
  height: 18px;
  position: absolute;
}
.log1-text {
  top: 43px;
  left: 80px;
  color: rgba(4, 4, 4, 1);
  width: 81px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log1-ellipse5 {
  top: 194px;
  left: 129px;
  width: 183px;
  height: 183px;
  position: absolute;
  border-style: solid;
}
.log1-ellipse6 {
  top: 185px;
  left: 130px;
  width: 180px;
  height: 180px;
  position: absolute;
  border-color: rgba(27, 70, 253, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 100%;
}
.log1-line4 {
  top: 487px;
  left: 55px;
  width: 332px; 
  position: absolute;
}
.log1-line5 {
  top: 495px;
  left: 85px;
  width: 271px;
  position: absolute;
}
.log1-line6 {
  top: 480px;
  left: 85px;
  width: 271px;
  position: absolute;
}
.log1-text02 {
  top: 388px;
  left: 90px;
  color: rgba(0, 0, 0, 1);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log1-rectangle27 {
  top: 533px;
  left: 79px;
  width: 282px;
  height: 43px;
  position: absolute;
}
.log1-text07 {
  top: 497px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log1-rectangle28 {
  top: 613px;
  left: 79px;
  width: 282px;
  height: 43px;
  position: absolute;
}
.log1-rectangle30 {
  top: 689px;
  left: 76px;
  width: 282px;
  height: 43px;
  position: absolute;
}
.log1-text09 {
  top: 576px;
  left: 79px;
  color: rgba(0, 0, 0, 1);
  width: 138px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log1-text11 {
  top: 653px;
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 253px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log1-group1 {
  top: 749px;
  left: 157px;
  width: 139px;
  height: 43px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.log1-rectangle29 {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 43px;
  position: absolute;
}
.log1-text13 {
  top: 4px;
  left: 1px;
  color: rgba(255, 255, 255, 1);
  width: 138px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
